###### C.gitignore ########
# Object files
*.o
*.ko
*.obj
*.elf
tags

# Directory
Head-First-C_Notes/cout/
c++_primer_plus/cppout/
arithmetic/aout/


# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/



###### Java.gitignore ########
*.class
bin/
gen/
obj/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



###### others.gitignore ########
*.zip
.tags
.tags_sorted_by_file
